<ion-header [translucent]="true">
  <header>
    <i class="ph-receipt"></i>
    <p>Extrato</p>
  </header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conteudo">
    <div class="recibos">
      <div class="recibo saque " >
          <div class="dinheiro flex ">
              <div class="circulo"><i class="ph-coins"></i></div>
              <p>1200</p>
          </div>
          <div class="tipo flex">
              <div class="circulo"><i class="ph-bank"></i></div>
              <p>Deposito</p>
              <!-- Se deposito mudar a cor da borda, se saque vermelho -->
          </div>
          <div class="data flex">
              <div class="circulo"><i class="ph-calendar-blank"></i></div>
              <p>20-02-2023</p>
          </div>
          <!-- <div class="cartao flex">
              <div class="circulo"><i class="ph-credit-card"></i></div>
              <p>Nubank</p>
          </div> -->
          <div class="carteira flex">
              <div class="circulo"><i class="ph-wallet"></i></div>
              <p>Casa</p>
          </div>
      </div>
      <div class="recibo deposito" >
        <div class="dinheiro flex">
            <div class="circulo"><i class="ph-coins"></i></div>
            <p>1200</p>
        </div>
        <div class="tipo flex">
            <div class="circulo"><i class="ph-bank"></i></div>
            <p>Deposito</p>
        </div>
        <div class="data flex">
            <div class="circulo"><i class="ph-calendar-blank"></i></div>
            <p>20-02-2023</p>
        </div>
        <!-- <div class="cartao flex">
            <div class="circulo"><i class="ph-credit-card"></i></div>
            <p>Nubank</p>
        </div> -->
        <div class="carteira flex">
            <div class="circulo"><i class="ph-wallet"></i></div>
            <p>Casa</p>
        </div>
    </div>
    
  </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="dark" (click)="voltar()">
      <ion-icon name="arrow-back-outline">

      </ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
