<div class="container-cambio">
    <div class="container-carteira">
        <div class="carteira" *ngFor="let cambio of cambios">
            <div class="info-carteira">
                <div class="titulo">
                    <p>Mercado</p>
                    <div class="circulo">
                        <i class="bx bx-pencil"></i>
                    </div>
                </div>
                <div class="info-dinheiro">
                    <p class="total">Total da carteira</p>
                    <p class="valor">R$ 50,00</p>
                </div>
            </div>
            <img src="../../../assets/img/moeda-pequena.svg" alt="">
        </div>
    </div>
    
</div>
