@import "../../../styles.scss";

.tudo{
    width: 100%;
    height: 100%;
    padding: 27px 27px 27px 0;
}

.conteudo{
    font-family: $fonte-texto;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background-color: var(--cor-secundaria);
    padding: 42px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);

    .container-cambio{
        background-color: var(--cor-card);
        box-shadow: 5px 5px  #d0fe6dbe;
        border-radius: 8px;
        padding: 30px 35px;
        color: var(--cor-texto);
        
        .moeda{
            font-weight: 600;
        }

        .total{
            margin-top: 40px;
            font-size: 13px;
            font-weight: 500;
        }
        .valor{
            font-weight: 700;
            font-size: 40px;
            overflow: hidden;
            width: 132px;
        }

        .titulo{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .resumo{
            margin-top: 20px;
        }
        .circulo{
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-color: #D0FE6D;
            display: flex;
            align-items: center;
            justify-content: center;

            i{
                transform: scale(1.2);
            color: var(--cor-primaria);

            }
        }
    }
}