<div class="all">
    <div class="formSide">

        <div class="content">
            <div class="logo">

                <h1>Cadastro</h1> <i class="bx bx-door-open"></i>
            </div>


            <form action="" #form="ngForm" (submit)="onSubmit()">

                <div class="grid-area">
                    <div class="info_input">
                        <label for="">Nome</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required
                                [(ngModel)]="usuario.nome">
                            <i class="bx bxs-face"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Email</label> <br>
                        <div class="flex">
                            <input type="email" name="email" id="email" autocomplete="off" required
                                [(ngModel)]="usuario.email">
                            <i class="bx bx-envelope"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Usuário</label> <br>
                        <div class="flex">
                            <input type="email" name="email" id="email" autocomplete="off" required
                                [(ngModel)]="usuario.nomeUsuario">
                            <i class="bx bx-user"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Senha</label> <br>
                        <div class="flex">
                            <input type="email" name="email" id="email" autocomplete="off" required
                                [(ngModel)]="usuario.senha">
                            <i class="bx bx-lock-alt"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Telefone</label> <br>
                        <div class="flex">
                            <input type="text" name="telefone" id="telefone" autocomplete="off" required
                                [(ngModel)]="usuario.telefone" mask="(00) 00000-0000">
                            <i class="bx bx-phone"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Nascimento</label> <br>
                        <div class="flex">
                            <input type="text" name="nascimento" id="nascimento" autocomplete="off" required
                                [(ngModel)]="usuario.nascimento">
                            <i class="bx bx-calendar"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Cidade</label> <br>
                        <div class="flex">
                            <input type="text" name="cidade" id="cidade" autocomplete="off" required
                                [(ngModel)]="usuario.cidade">
                            <i class="bx bx-buildings"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Estado</label> <br>
                        <div class="flex">
                            <input type="text" name="estado" id="estado" autocomplete="off" required
                                [(ngModel)]="usuario.estado">
                            <i class="bx bxs-city"></i>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn-1" id="enter">

                        <strong> Cadastrar</strong>
                        <i class="bx bx-paper-plane"></i>

                    </button>
                </div>

            </form>


        </div>

        <!-- <div id="container">
            <a class="learn-more conta-btn" #teste id="teste" (click)="testar()">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Agora crie sua conta</span>
            </a>
        </div> -->
    </div>

    <div class="imgSide">

    </div>

</div>