<ion-header [translucent]="false">
  <header>
    <i class="ph-hand-waving"></i>
    <p> Bem-vindo, {{usuario.nome}}</p>
  </header>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="conteudo">
    <div class="links-container">
      <div class="link"><a href="recibo"><i class="ph-receipt"></i></a></div>
      <div class="link"><a href="carteira"><i class="ph-wallet"></i></a></div>
      <div class="link"><a href="transacao"><i class="ph-coins"></i></a></div>
      <div class="link"><a href="cambio"><i class="ph-currency-circle-dollar"></i></a></div>
    </div>

    <div class="banco">
      <p> <i class="ph-bank"></i>Meu banco</p>
    </div>

    <div class="visao-geral">

      <div class="container-saldo">
        <div class="titulo">
          <p>Saldo atual</p>
        </div>
        <div class="dinheiro">
          <p>{{totalDep - totalSaque}}</p>
        </div>
      </div>

      <img src="../../assets/img/banco.png" alt="">

    </div>

    <div class="transacoes">
      <div class="saques">
        <div class="titulo">
          <p> <i class="ph-arrow-circle-down"></i>Saques</p>
        </div>
        <div class="dinheiro">
          <p>R$ {{totalSaque}}</p>
        </div>
      </div>
      
      <div class="depositos">
        <div class="titulo">
          <p> <i class="ph-arrow-circle-up"></i>Depósitos</p>
        </div>
        <div class="dinheiro">
          <p>R$ {{totalDep}}</p>
        </div>
      </div>
    </div>

    <div class="carteiras" *ngIf="carteiras">
      <p> <i class="ph-wallet"></i>Carteiras</p>
      <div class="qntdCart"><p>{{carteiras.length}}</p></div>
    </div>


    <!-- <canvas id="MyChart"></canvas> -->

  </div>
</ion-content>