<div class="container-home">
    <div class="topo">
        <div class="procurar">
            <i class="ph-magnifying-glass"></i>
            <input type="text" name="" id="" placeholder="Pesquisar">
        </div>

        <div class="hora">
            <i class="ph-clock"></i>
            <p>14:00</p>
        </div>

        <div class="data">
            <i class="ph-calendar"></i>
            <p>10/12/2022</p>
        </div>

        <div class="toggle"  #toggle id="toggle">
            <i class="ph-palette-bold"></i>
            <div class="tema" (click)="mudarTemaLight()"></div>
            <div class="tema" (click)="mudarTemaCaramel()"></div>
            <div class="tema" (click)="mudarTemaGrey()"></div>
            <div class="tema" (click)="mudarTemaRose()"></div>
            <div class="tema" (click)="mudarTemaDark()"></div>
        </div>


        <div class="perfil">

            
                <i class="ph-bell"></i>
           

            <div class="resumo-perfil">
                <div class="foto">
                </div>
                <p>Matheus</p>

                
            </div>
            <button class="btn"><i class="ph-caret-circle-down"></i></button>
           

        </div>
    </div>

    <div class="banner">
        <div class="texto">
            <div class="boas-vindas">
                <p>Bem vindo, Usuario</p>
                <p>A My Wallet está muito feliz em recebê-lo, caso tenha dúvidas, <span>acesse a página Tutorial.</span>
                </p>
            </div>
            <a [routerLink]="['/']">Mostrar Tutorial</a>
        </div>

        <img src="../../../assets/img/cofre.png" alt="">
    </div>

    <div class="visao-geral">
        <div class="titulo">
            <p>Visão geral</p> <i class="ph-bank"></i>
        </div>

        <div class="grid-info">
            <div class="total card">

                <div class="conteudo">

                    <div class="subtitulo">

                        <i class="ph-currency-circle-dollar"></i>
                        <p>Saldo total</p>

                    </div>

                    <p class="destaque">R$ 1200,00</p>

                </div>

                <img src="../../../assets/img/porco-alternativo-2.png" alt="">

            </div>

            <div class="saidas card">
                <div class="conteudo">

                    <div class="subtitulo">

                        <i class="ph-arrow-circle-down"></i>
                        <p>Saídas realizadas</p>

                    </div>

                    <p class="destaque">R$ 1200,00</p>

                </div>

                <img src="../../../assets/img/banco.png" alt="">

            </div>

            <div class="entradas card">
                <div class="conteudo">

                    <div class="subtitulo">

                        <i class="ph-arrow-circle-up"></i>
                        <p>Entradas realizadas</p>

                    </div>

                    <p class="destaque">R$ 1200,00</p>

                </div>

                <img src="../../../assets/img/dinheiro.png" alt="">

            </div>
        </div>
    </div>

    <div class="grid-area">
        <div class="grafico">
            <div class="titulo">
                <p>Gastos recentes</p> <i class="ph-chart-bar"></i>
            </div>
        </div>
        <div class="cartao">
            <div class="titulo">
                <p>Cartão</p> <i class="ph-credit-card"></i>
            </div>

        </div>
    </div>
</div>

<script src="../../js/change-mode.js"></script>