<div class="container-carteiras">
    <div class="topo">
        <div class="procurar">
            <i class="ph-magnifying-glass"></i>
            <input type="text" name="" id="" placeholder="Pesquisar">
        </div>

        <div class="perfil">

            <i class="ph-bell"></i>

            <div class="resumo-perfil">
                <div class="foto">
                </div>
                <p>{{usuario.nomeUsuario}}</p>
            </div>

            <button class="btn"><i class="ph-caret-circle-down"></i></button>

        </div>
    </div>

    <div class="carteiras">

        <div class="container-carteira">
            <button class="adicionar-carteira" id="myBtn" #myBtn (click)="mostrar()">
                <i class="bx bx-plus-circle"></i>
            </button>
            
            <div class="carteira" *ngFor="let carteira of carteiras">
                <div class="info-carteira">
                    <div class="titulo">

                        <form action="" #form="ngForm" (submit)="editarCarteira()" >
                            <input class="inputNomeCarteira" value="{{carteira.nomeCarteira}}" [(ngModel)]="cart.nomeCarteira"/> 
                            <input type="hidden" name="id" id="id" value="{{carteira.id}}" [(ngModel)]="cart.id">                          
                            <button class="btnEdit"><i class="bx bx-pencil"></i></button>                        
                        </form>
                        <div class="circulo">
                            <i class="bx bx-trash" (click)="apagarCarteira(carteira.id || 1)"></i>
                        </div>
                    </div>
                    <div class="info-dinheiro">
                        <p class="total">Total da carteira</p>
                        <p class="valor">R$ {{carteira.dinheiro}}</p>
                    </div>
                </div>
                <img src="../../../assets/img/moeda-grande.svg" alt="">
            </div>

        </div>

        <!-- The Modal -->
        <div id="myModal" #myModal class="modal">

            <!-- Modal content -->
            <div class="modal-content" id="modalContent" #modalContent>
                <span class="close" id="close" #close (click)="fechar()">&times;</span>
                <p>Crie sua carteira</p>
                <form action="" #form="ngForm" (submit)="onSubmit()">
                    <div class="info_input">
                        <label for="">Nome da carteira</label> <br>
                        <input type="text" name="nomeCarteira" id="nomeCarteira"  autocomplete="off" [(ngModel)]="carteira.nomeCarteira">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="info_input">
                        <label for="">Dinheiro</label> <br>
                        <input type="text" name="dinheiro" id="dinheiro" autocomplete="off" [(ngModel)]="carteira.dinheiro">
                        <i class="bx bx-lock-alt"></i>
                        <br>
                    </div>

                    <div class="info_input">
                        <label for="">Banco</label> <br>
                        <select name="id_banco" id="id_banco" [(ngModel)]="banco.id">
                            <option [value]="banc.id" *ngFor="let banc of bancos">{{banc.banco}}</option>
                        </select>
                    </div>

                    <input type="text" name="id_usuario" id="id_usuario" autocomplete="off" [(ngModel)]="carteira.id_usuario.id">
    
                    <div class="buttons">
                        <button class="btn-1">
    
                            <strong>Confirmar</strong>
                            <i class="bx bx"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>