<div class="all">
    <div class="imgSide">
    </div>
    
    <div class="formSide">

        <div class="content">
            <div class="logo">

                <h1>Log in</h1> <i class="bx bx-home"></i>
            </div>
            

            <form action="" method="post">
                <div class="info_input">
                    <label for="">Usuário</label> <br>
                    <input type="text" name="userName" id="userName"  autocomplete="off">
                    <i class="bx bx-user"></i>
                </div>
                <div class="info_input">
                    <label for="">Senha</label> <br>
                    <input type="password" name="password" id="password" autocomplete="off">
                    <i class="bx bx-lock-alt"></i>
                    <br>
                    <a href="/pages/nHome.html">Esqueceu sua senha?</a>
                </div>
                <button class="btn btn1" id="enter">

                    <strong>Entrar</strong>

                </button>

                <button class="btn btn2" id="enter">

                    <strong>Cadastrar</strong>

                </button>

            </form>

            <div class="alternative-content">

                <div class="flex">
                    <div class="line"></div>
                    <span>Ou entre com</span>
                    <div class="line"></div>
                </div>

                <button class="btn btn3" id="enter">

                    <i class="bx bxl-github"></i>

                </button>

                <button class="btn btn4" id="enter">

                   <i class="bx bxl-linkedin"></i>

                </button>

            </div>

            
       
        </div>
        
    </div>

    
</div>