<div class="all">
    <div class="imgSide"></div>

    <div class="formSide">
        <div class="content">

            <div class="logo">
                <h1>Log in</h1>
                <i class="bx bx-home"></i>
            </div>
            
            <form action="" #form="ngForm" (submit)="onSubmit()">
                <div class="info_input">
                    <label for="">Usuário</label> <br>
                    <input type="text" name="usuario" id="usuario"  autocomplete="off" [(ngModel)]="nomeUsuario">
                    <i class="bx bx-user"></i>
                </div>
                <div class="info_input">
                    <label for="">Senha</label> <br>
                    <input type="password" name="senha" id="senha" autocomplete="off" [(ngModel)]="senha">
                    <i class="bx bx-lock-alt"></i>
                    <br>
                    <a href="">Esqueceu a senha?</a>
                </div>

                <div class="buttons">
                    <button class="btn-1" id="enter">

                        <strong>Entrar</strong>
                        <i class="bx bx"></i>

                    </button>
                </div>
            </form>

            <div class="alternative-content">

                <div class="flex">
                    <div class="line"></div>
                    <span>Ou entre com </span>
                    <div class="line"></div>
                </div>

                <button class="btn-2" id="google" [routerLink]="['cadastro']" >
                    <i class="bx bxl-google"></i>
                </button>

                <button class="btn-3" id="linkedin">
                   <i class="bx bxl-linkedin"></i>
                </button>
                
            </div>           
        </div>      
    </div>    
</div>
