<div class="perfil-container">
    <div class="topo">
        <div class="titulo">
            <div class="perfil">
                <i class="bx bx-user"></i>
            </div>
            <p>Seu perfil, Usuário</p>
        </div>
    </div>

    <div class="conteudo">
        
        <div class="cards">
            <div class="card-info">
                <p class="subtitulo"> <i class="bx bx-file"></i> Informações pessoais</p>
                <div class="line"></div>
                <form action="">
                    <div class="info_input">
                        <label for="">Nome</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bxs-face"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Nascimento</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bxs-calendar"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Telefone</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bxs-phone"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Cidade</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bx-buildings"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Estado</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bx-world"></i>
                        </div>
                    </div>
                    <button class="editar" id="enter">
                        <strong>Editar</strong>
                        <i class="bx bx-pencil"></i>
                    </button>
                </form>
            </div>
            <div class="card-info">
                <p class="subtitulo"><i class="bx bx-id-card"></i> Conta</p>
                <div class="line"></div>
                <form action="">
                    <div class="info_input">
                        <label for="">Usuário</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bxs-user"></i>
                        </div>
                    </div>
                    <div class="info_input">
                        <label for="">Senha</label> <br>
                        <div class="flex">
                            <input type="text" name="nome" id="nome" autocomplete="off" required>
                            <i class="bx bxs-lock-alt"></i>
                        </div>
                    </div>
                    <button class="editar" id="enter">
                        <strong>Editar</strong>
                        <i class="bx bx-pencil"></i>
                    </button>
                </form>
            </div>
            <div class="card-info flex">
                
                    <p class="subtitulo"><i class="bx bx-wallet"></i> Total de carteiras</p>
                    
                        <div class="badge">
                            <p>15</p>
                        </div>
             
                    
            </div>
            <div class="card-info flex">
                <p class="subtitulo"><i class="bx bx-info-circle"></i>Desativar conta</p>

                <button class="deletar" id="enter">
                    <strong>Deletar</strong>
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>