//*VARIAVEIS DOS TEMAS
:root{
    --cor-card: #282433;
    --cor-primaria: #18161C;
    --cor-secundaria: #1F1C26;
    --cor-terciaria: #7E41A0;
    --cor-texto: #FFFFFF;
    --detalhe: #FECE2F;
    --cor-destaque: #FFFFFF;
    --botao-enviar: ;
}

body.light{
    --cor-card: #EEEEEE;
    --cor-primaria: #dddddd;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #1F1D26;
    --cor-texto: #282433;
    --detalhe: #FECE2F;
    --cor-destaque: #FFFFFF;
}

body.caramel{
    --cor-card: #FFFFFF;
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #FAEAB1;//#FCF9BE;
    --cor-terciaria: #CD782A;
    --cor-texto: #282433;
    --detalhe: #FECE2F;
    --cor-destaque: #FFFFFF;
}

body.grey{
    --cor-card: #FFFFFF;
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #1F1D26; 
    --cor-texto: #282433;
    --detalhe: #FECE2F;
    --cor-destaque: #FFFFFF;

}

body.rose{
    --cor-card: #FFFFFF;
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #F0E9D2;
    --cor-terciaria: #1F1D26;
    --cor-texto: #282433;
    --detalhe: #FECE2F;
    --cor-destaque: #FFFFFF;
}

//* ESTILO-FONTES
$fonte-texto: 'Poppins', sans-serif;

//* TAMANHO-FONTES
$fonte-pequena: 13px;
$font-media: 20px;
$fonte-grande: 26px;
$fonte-button: 16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fonte-texto;
    background-color: var(--cor-primaria);
    height: 100vh;
    transition: .5s;
}

//*----------- SIDEBAR -----------
.sidebar{
    .logo, .menu, .anuncio{
        background: var(--cor-secundaria);
        transition: .5s;
    }

    .btn{
        color: var(--cor-texto);
        background-color: var(--cor-card);
        transition: .5s;
    }

    .separador{
        background-color: var(--cor-primaria);
        transition: .5s;
    }
    a{
        color: var(--cor-texto);
        transition: .5s;
    }

    a.exe{
        background: var(--cor-terciaria);
        color: var(--cor-destaque);
        transition: .5s;
    }
}
//*----------- HOME ----------- 
.container-home{

    .topo, .visao-geral, .banner, .grafico, .cartao {
        background-color: var(--cor-secundaria);
        color: var(--cor-texto);
        transition: .5s;
       
    }
    .card, .procurar, .foto{
        background: var(--cor-card);
        color: var(--cor-texto);
        transition: .5s;
    }

    .total{
        background: var(--cor-terciaria);
        color: var(--cor-destaque);
        transition: .5s;
    }
    button{
        color: var(--cor-texto);
        transition: .5s;
    }

    .toggle{
        transition: .5s;
    }
    .texto{
        a{
            background: var(--detalhe);
            color: var(--cor-card);
            transition: .5s;
        }

        span{
            color: var(--cor-texto);
            transition: .5s;
        }
    }
    
    input{
        color: var(--cor-texto);
        transition: .5s;
    }
}

//*----------- MODO LIGHT -----------

html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

html *{
    transition: 0.2s ease-in-out;
}

*:before,
*:after {
  z-index: -1;
}

.down{
    position:absolute;            
    right: 6%;
    top: 10%;
    background: #fff;
}
.up{
    position:absolute;            
    right: 6%;
    top: -10%;
}

[class^=btn-] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;  
  padding: 10px;
  border: 2px solid #03a66a;
  border-radius: 8px;
}

.btn-1 {
  color: #03a66a;
  z-index: 4;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: $fonte-button;
  font-family: $fonte-texto;
}

.btn-1:before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #03a66a;
  transform: translateX(-100%);
  
}
.btn-1:hover {
  color: #fff;
  cursor: pointer;
}
.btn-1:hover:before {
  transform: translateX(0);
}

//   GOOGLE
.btn-2 {
    color: #db4a39;
    border: 2px solid #db4a39 ;
    z-index: 4;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: $fonte-button;
    font-family: $fonte-texto;
  }
  .btn-2:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #db4a39;
    transform: translateX(-100%);
    
  }
  .btn-2:hover {
    color: #fff;
    cursor: pointer;
  }
  .btn-2:hover:before {
    transform: translateX(0);
  }

//   LINKEDIN
.btn-3 {
    color: #0e76a8 ;
    border: 2px solid #0e76a8 ;
    z-index: 4;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: $fonte-button;
    font-family: $fonte-texto;
  }
  .btn-3:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #0e76a8 ;
    transform: translateX(-100%);
    
  }
  .btn-3:hover {
    color: #fff;
    cursor: pointer;
  }
  .btn-3:hover:before {
    transform: translateX(0);
  }



