@import "../../../styles.scss";

.all{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    position: relative;
    transition: .5s;
    border-radius: 10px;
    font-family: $fonte-texto;
    font-size: $fonte-pequena;
}

.imgSide{
    width: 50%;
    height: 100%;
    float: right;
    background-image: url('../../../assets/img/img_money.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    /* border-radius: 0px 50px 50px 0px; */
}

.formSide{
    width: 40%;
    float: left;
    height: 100%;
  
}

form input{
    padding: 8px 15px;
    width: 300px;
    border: 2px solid #c3c3c3;
    border-radius: 8px;
}

form input:focus{
    outline: none;
    border: 2px solid #636363;
}

.info_input{
    width: 100%;
    margin: 18px 0px;
}

.info_input i{
    position: relative;
    left: -30px;
    transform: scale(1.1);
    color: #616161;
}

.info_input a{
    text-decoration: none;
    font-size: 13px;
    color: var(--cor-primaria);
    transition: .4s;
}

.info_input a:hover{
    color: #616161;
    
}
.content{
    position: relative;
    padding: 10px 55px;
    top: 7%; /*15%*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    
}

.logo i{
    transform: scale(2);
}

span{
    font-weight: 400;
    font-size: 1rem;   
    
}
h1{
    font-weight: 500;
    font-size: 2.5rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;    
}

.btn{
    background: none;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 5px 5px;
    min-width: 130px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}

.btn1{
    color: #03A66A;
    color: var(--cor-primaria);
}

.btn1:hover{
    color: var(--cor-primaria);
}

.btn1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--cor-primaria);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6,0.4,0.7);
}

.btn1::before{
    transform:  scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}

.btn2{
    color: #fff;
    border:  2px solid #6156E0;
}

.btn2:hover{
    color: #6156E0;
}

.btn2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #6156E0;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6,0.4,0.7);
}

.btn2::before{
    transform:  scaleX(1);
}
.btn2:hover::before{
    transform: scaleX(0);
}

.flex{
    margin: 25px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.alternative-content{
    display: flex;
     padding-right: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 13px;
    font-weight: 500;

}
.line{
    height: 2px;
    background: #c3c3c3;
    border-radius: 222px;
    width: 90px;
}


.btn3{
    color: #222;
    border:  2px solid #222;
    width: 250px;
}

.btn3:hover{
    color: #fff;
}

.btn3::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 1 0;
    transition-timing-function: cubic-bezier(0.5, 1.6,0.4,0.7);
}

.btn3::before{
    transform:  scaleX(0);
}
.btn3:hover::before{
    transform: scaleX(1);
}



.btn4{
    color: #0a63bc;
    border:  2px solid #0a63bc;
    width: 250px;
}

.btn4:hover{
    color: #fff;
}

.btn4::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0a63bc;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 1 0;
    transition-timing-function: cubic-bezier(0.5, 1.6,0.4,0.7);
}

.btn4::before{
    transform:  scaleX(0);
}
.btn4:hover::before{
    transform: scaleX(1);
}

.btn i{
    transform: scale(1.5);
}

/* .slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  height: 100vh;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100vh;
  
}
.s1, .s2{
    background-repeat: no-repeat;
    background-size: cover;
}
.s1{
    background-image: url("/imgs/img_money.jpg");
}

.s2{
    background-image: url("/imgs/money02.jpg");
}



/*css for manual slide navigation

.navigation-manual{
  position: absolute;
  width: 800px;
  display: flex;
  bottom: 150px;
  justify-content: center;

}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  bottom: 150px;
}

.navigation-auto div{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #fff;
}
       */