<div class="sidebar">
    <div class="logo">
    </div>

    <div class="menu">
        <ul>
            <li> <a class="exe" [routerLink]="['home']"> <i class="ph-house"></i>Home</a> </li>
            <li> <a [routerLink]="['recibo']"> <i class="ph-receipt"></i>Extrato</a> </li>
            <li> <a [routerLink]="['carteiras']"> <i class="ph-wallet"></i>Carteiras</a></li>
            <li> <a [routerLink]="['banco']"> <i class="ph-bank"></i>Banco</a> </li>
            <li> <a [routerLink]="['transacao']"> <i class="bx bx-money-withdraw"></i>Transação</a> </li>
            <li> <a [routerLink]="['perfil']"> <i class="ph-info"></i>Tutorial</a> </li>
            <li> <a [routerLink]="['cambio']"> <i class="ph-arrows-left-right"></i>Câmbio</a> </li>
        </ul>

        <div class="separador"></div>

        <button class="btn" (click)="logout()"> <i class="ph-door"></i> Logout </button>
    </div>

    <div class="anuncio"></div>
</div>