@import "../../../styles.scss";

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 27px 0 27px 27px;
    width: 100%;
    height: 100%;

    .logo{
        border-radius: 14px;
        width: 100%;
        height: 9.7%;
        margin-bottom: 12.5%;
    }

    .menu{
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 31px 21px;
        margin-bottom: 12.5%;
        height: 71.5%;

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 22px;


            li{
                display: flex;
                flex-direction: column;
                

                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    border-radius: 8px;
                    width: 100%;
                    padding: 6.5% 0px 6.5% 28%;
                    font-size: $fonte-pequena;
                    font-family: $fonte-texto;
                }

                a:hover{
                    background-color: var(--cor-terciaria);
                    color: #fff;
                }


            }
        }

        .separador{
            height: 2.5px;
            width: 100%;
            margin-bottom: 30px;

        }

        .btn{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            border-radius: 8px;
            width: 100%;
            padding: 8%;
            font-size: $fonte-pequena;
            font-family: $fonte-texto;
            border: none;
            cursor: pointer;
        }

        i{
            transform: scale(1.5);
            
        }

        i:hover{
            color: #fff;
        }
    }

    .anuncio{
        width: 100%;
        height: 16%;
        border-radius: 14px;
    }
}
