@import "../../global.scss";

.conteudo{
    min-height: 100%;
    width: 100%;
    background: var(--cor-primaria);
    padding: 15px 15px;

    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}