<ion-header [translucent]="true">
  <header>
    <i class="ph-user"></i>
    <p>Seu perfil</p>
  </header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conteudo">
    <form action="">
      
        <ion-item color="dark">
          <ion-label position="floating">Nome</ion-label>
          <ion-input placeholder="Enter text" value="Matheus"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="Enter text" value="matheus@gmail.com"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Usuário</ion-label>
          <ion-input placeholder="Enter text" value="Maths12"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Senha</ion-label>
          <ion-input placeholder="Enter text" value="********"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Telefone</ion-label>
          <ion-input placeholder="Enter text" value="(21)98453-9658"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Nascimento</ion-label>
          <ion-input placeholder="Enter text" value="05-06-2000"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Cidade</ion-label>
          <ion-input placeholder="Enter text" value="São Gonçalo"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label position="floating">Estado</ion-label>
          <ion-input placeholder="Enter text" value="RJ"></ion-input>
        </ion-item>
        <ion-item color="dark" hidden="true">
          <ion-label position="floating">Id</ion-label>
          <ion-input placeholder="Enter text" value="Matheus"></ion-input>
        </ion-item>

        <ion-button expand="block" color="success">Atualizar</ion-button>
        <ion-button expand="block" color="danger">Apagar conta</ion-button>
        
    </form>
  </div>
</ion-content>
