.pagina{
    display: flex;
    flex-direction: row;
    gap: 1.9%;
    height: 100%;
    padding: 27px;
    
    .container{
        width: 83.6%;
        height: 100%;
    
    }
    .sidebar{
        width: 14.5%;
        height: 100%;
    }
    
}