@import "../../../styles.scss";

.container-transacao {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background-color: var(--cor-secundaria);
    padding: 35px;
    display: flex;
    gap: 28px;


    .box {
        //padding: 20px 40px;
        overflow: hidden;
        height: 100%;
        width: 50%;
        border-radius: 8px;
        color: var(--cor-texto);
        background-color: var(--cor-card);

        p {
            font-size: $fonte-pequena;
        }

        .content {
            padding: 20px 40px;
        }

        i {
            color: var(--cor-texto);
        }

        select {
            background: none;
            color: var(--cor-texto);
            font-family: $fonte-texto;
            padding: 8px 15px;
            width: 100%;
            border: 2px solid #c3c3c3;
            border-radius: 8px;
        }

        option{
            background: var(--cor-secundaria);
            border: none;
        }

        select:focus {
            outline: none;
        }
    }

    img {
        width: 100%;
    }

    form {
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;

        label {
            font-size: $fonte-pequena;
        }

        input {
            background: transparent;
            color: var(--cor-texto);
            border: none;
            width: 100%;
            font-family: $fonte-texto;
        }

        input:focus {
            outline: none;
        }

        button {
            grid-column: 1/3;
            margin-top: 10px;
            padding: 10px 0;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

    }


    .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 15px;
        width: 100%;
        border: 2px solid #c3c3c3;
        border-radius: 8px;
    }

    .info_input i {
        position: relative;
        transform: scale(1.1);
        color: #616161;
    }
}